body {
    background: url('../images/thumb-1920-703704.jpg');
    font-family: Helsinki;
    color: white;
  }
  
  .main {
    max-width: 960px;
    margin: 0 auto;
    margin-top: 30px;
  }
  
  .hidden {
    visibility: hidden;
  }
  
  .img-initial {
    background: url('../images/thumb-1920-135642.jpg') no-repeat center top;
    background-size: 70%;
    height: 450px;
  }
  
  .start-btn {
    width: 200px;
    color: blue;
    font-size: 36px;
    border-radius: 50px;
    background: #fed501;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    margin-top: 4px;
    cursor: pointer;
  }
  
  .timer,
  .score {
    margin-bottom: 30px;
    color: #fed501;
    margin: 0;
    padding: 0;
  }
  
  .score {
    text-align: right;
  }
  
  .time {
    color: #ff5270;
    font-size: 30px;
  }
  
  .question {
    font-size: 27px;
    background-color: #fed501;
    border-radius: 4px;
    color: #631172;
    width: 400px;
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
  }
  
  .answer {
    padding: 20px;
    color: #631172;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: #fed501;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .gif {
    width: 500px;
    margin-top: 50px;
  }
  
  .row {
    margin: 0 auto;
  }
  
  .right-answer {
    background: green;
    color: #631172;
  }
  
  .wrong-answer {
    background: red;
    color: #631172;
  }
  
  .times-up {
    font-size: 36px;
    color: #631172;
    background: #fed501;
    border-radius: 50px;
    width: 200px;
    margin: 0 auto;
    margin-top: 5px;
    text-align: center;
  }
  
  .final {
    font-size: 30px;
    text-align: center;
    margin-top: 100px;
  }
  
  .reset-button {
    background: #fed501;
    color: #631172;
    border: none;
    margin-top: 80px;
    border-radius: 40px;
    width: 300px;
  }
  
  .reset-button:hover {
    background: #fed501;
    border: none;
  }